<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.colorado.phet.hapticsPlayground" version="1.1.2" xmlns="http://www.w3.org/ns/widgets">
    <name>HapticsPlayground</name>
    <description>
        An app that enables users to experiment with haptic vibration.
    </description>
    <author email="phethelp@colorado.edu" href="https://phet.colorado.edu">
        PhET Interactive Simulations
    </author>
    <content src="haptics-playground.html" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="26" />
        <preference name="android-targetSdkVersion" value="31" />
        <preference name="android-buildToolsVersion" value="32" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
        <icon src="res/android/hp-icon-36-by-36.png" density="ldpi" />
        <icon src="res/android/hp-icon-48-by-48.png" density="mdpi" />
        <icon src="res/android/hp-icon-72-by-72.png" density="hdpi" />
        <icon src="res/android/hp-icon-96-by-96.png" density="xhdpi" />
        <icon src="res/android/hp-icon-144-by-144.png" density="xxhdpi" />
    </platform>
</widget>
