/*
Copyright 2022, University of Colorado Boulder

Main CSS file for the Haptics Playground app.  This was leveraged highly from the example Apache Cordova app.
*/

body {
  background-color: #E4E4E4;
  background-image: linear-gradient(to bottom, #E4E4E4 0%, #9ACBFF 51%);
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  font-size: 12px;
  color: black;
  height: 100vh;
  margin: 0;
  width: 100%;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

#header {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#image-container {
  position: relative;
  display: inline-block;
}

#header img {
  display: block;
  width: auto;
  max-height: 150px;
}

#image-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: inset -1px 1px 10px 7px #d0dceb;
}

/* portrait layout (default) */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

/* landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
}

.app-screen {
  width: 40vw;
  flex-direction: column;
  gap: 30px;
  display: none; /* invisible until made visible by the JS code */
}

.vertical-button-set {
  display: flex;
  flex-direction: column;
}

.horizontal-button-set {
  display: flex;
  flex-direction: row;
}

.vertical-slider-set {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-and-number {
  display: block;
}

.app-button {
  padding: 5px 10px;
  margin: 10px 15px;
  font-size: large;
  border: 1px black solid;
  background-color: #48A954;
  color: ghostwhite;
  border-radius: 8px;
}

#multi-clicks-button {
  min-width: 200px;
}

.labeled-slider {
  font-size: large;
  display: grid;
}

.labeled-checkbox {
  font-size: large;
  display: block;
}

input[type=checkbox] {

  /* larger-than-default checkboxes */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

#number-of-clicks {
  width: 50px;
}

#pattern-canvas {
  background-color: #E9D6B4;
  border: 1px black solid;
}

.pattern-display {
  font-size: large;
  display: flex;
  flex-direction: column;
}

.event {
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0 30px;
  padding: 2px 0;
}

.event.listening {
  background-color: #333333;
  display: block;
}

.event.received {
  background-color: #4B946A;
  display: none;
}

#debugArea {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: left;
  color: #B22222;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

/* Nav bar styling */

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0576FF;
  color: white;
}

.nav-bar-button {
  padding: 5px 10px;
  margin: 10px 15px;
  font-size: large;
  border: 1px white solid;
  background-color: #0576FF;
  color: white;
}

.nav-bar-button.selected {
  background-color: #51ABF6;
}

.nav-bar-button img {
  max-width: 50px;
}

/*
* Range input (aka slider) styling.  This was mostly taken from web examples, and seems WAY more complicated than it
* should be.
*/

input[type=range] {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #55452E;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 7px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -11px;
  width: 30px;
  height: 30px;
  background: #48A954;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #55452E;
}

input[type=range]::-moz-range-track {
  background: #55452E;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #555bc8;
  border: 2px solid ghostwhite;
  border-radius: 8px;
  cursor: pointer;
}

